<!DOCTYPE html>
<html>
<head>
    <title> Welcome to My Page </title>
</head>
<body>

<h1>Welcome to my Page</h1>
<form >
    <textarea id="text1"  rows="4" cols=50> </textarea><br><br>
    <input type="checkbox" name = "services"> To Remove Punctuations check the box <br>
    <input type="checkbox" name = "UpperCase"> Convert to Upper-Case <br>
    <input type="checkbox" name = "newline_remover"> New-Line Remover <br>
    <input type="checkbox" name = "extra_space_remover"> Extra Space Remover <br>
    <input type="checkbox" name = "char_counter"> Character Counter <br><br>
    <button type = 'submit'>Submit</button>
</form>

<!--{{name}} is {{age}} years old -->
</body>
</html>